Repository richim96/folder-sync: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, mypy, commitizen

black:
  name: black
  entry: pdm run black
  language: system

ruff:
  name: ruff
  entry: pdm run ruff
  language: system

mypy:
  name: mypy
  entry: pdm run mypy
  language: system

commitizen:
  name: commitizen
  entry: pdm run cz check
  pass_filenames: false
  args:
  - --rev-range
  - origin/main..HEAD
  language: system
  stages:
  - push

bump: version 0.2.0 → 0.2.1
  CHANGELOG.md
  pyproject.toml
Due: none

fix(pyproject): issue with dynamic version update in pyproject solved
  pdm.lock
  pyproject.toml
  src/folder_sync.egg-info/PKG-INFO
  src/folder_sync.egg-info/SOURCES.txt
  src/folder_sync.egg-info/dependency_links.txt
  src/folder_sync.egg-info/requires.txt
  src/folder_sync.egg-info/top_level.txt
Due: none

bump: version 0.2.1 → 0.2.2
  CHANGELOG.md
  pyproject.toml
Due: none

docs(readme): improve project description
  README.md
Due: none

docs(readme): fix mistake in readme
  README.md
Due: none

docs(readme): correct boxing error in readme
  README.md
Due: none

docs(readme): update README.md
  README.md
Due: none

refactor(tests): restructure tests assets's schema
  tests/test_assets/log_file.csv
  tests/test_assets/replica_folder/.gitkeep
  tests/test_assets/source_folder/.gitkeep
Due: none

bump: version 0.2.2 → 0.2.3
  CHANGELOG.md
  assets/log_file_test.csv
  pyproject.toml
  src/folder_sync/__init__.py
  src/folder_sync/synchroniser.py
  src/folder_sync/utils.py
  sync.py
Due: black, ruff, mypy, commitizen

feat(resources): set up base resource classes for the program
  src/folder_sync/_resources.py
Due: black, ruff, mypy, commitizen

bump: version 0.2.3 → 0.3.0
  CHANGELOG.md
  pyproject.toml
Due: none

feat(sync_tools): structure basic sync tools to perform synchronisation
  src/folder_sync/sync_tools.py
Due: black, ruff, mypy, commitizen

bump: version 0.3.0 → 0.4.0
  CHANGELOG.md
  pyproject.toml
Due: none

feat(resources): continue implementation of File and Folder classes
  src/folder_sync/_resources.py
Due: black, ruff, mypy, commitizen

bump: version 0.4.0 → 0.5.0
  CHANGELOG.md
  README.md
  pdm.lock
  pyproject.toml
Due: none

test(tests): add test files for core modules
  tests/resources_test.py
  tests/sync_tools_test.py
Due: black, ruff, mypy, commitizen

docs(readme): update documentation
  README.md
Due: none

refactor(sync.py): instantiate target folders and files
  sync.py
Due: black, ruff, commitizen

bump: version 0.5.0 → 0.5.1
  CHANGELOG.md
  pyproject.toml
  src/folder_sync/__init__.py
  src/folder_sync/_resources.py
  src/folder_sync/sync_tools.py
Due: black, ruff, mypy, commitizen

bump: version 0.5.1 → 0.5.2
  CHANGELOG.md
  pyproject.toml
Due: none

fix(pyproject): ignore unwanted ruff rule
  pyproject.toml
  src/folder_sync.egg-info/PKG-INFO
  src/folder_sync.egg-info/SOURCES.txt
  src/folder_sync.egg-info/dependency_links.txt
  src/folder_sync.egg-info/requires.txt
  src/folder_sync.egg-info/top_level.txt
  src/folder_sync/__init__.py
Due: black, ruff, mypy, commitizen

bump: version 0.5.2 → 0.5.3
  CHANGELOG.md
  pyproject.toml
Due: none

refactor(pyproject): update ruff rules
  pyproject.toml
Due: none

refactor(project-layout): simplify project layout
  folder_sync/__init__.py
  folder_sync/_resources.py
  folder_sync/sync_tools.py
  pyproject.toml
  src/folder_sync.egg-info/PKG-INFO
  src/folder_sync.egg-info/SOURCES.txt
  src/folder_sync.egg-info/dependency_links.txt
  src/folder_sync.egg-info/requires.txt
  src/folder_sync.egg-info/top_level.txt
Due: black, ruff, commitizen

bump: version 0.5.3 → 0.5.4
  CHANGELOG.md
  pyproject.toml
Due: none

refactor(docs-precommit): update docstrings and precommit file
  .pre-commit-config.yaml
  folder_sync/_resources.py
  folder_sync/sync_tools.py
Due: black, ruff, commitizen

bump: version 0.5.4 → 0.5.5
  CHANGELOG.md
  pyproject.toml
Due: none

docs(description): correct typo in project description
  README.md
  folder_sync/sync_tools.py
  pyproject.toml
Due: black, ruff, commitizen

Path conditions:
  black: any of: \.py$
  ruff: any of: \.py$
  mypy: any of: ^(src/|tests/) and \.py$
  commitizen: any of: \.py$
